* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#visualizer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  background-color: lightseagreen;
  flex: 1;
}

.checking {
  background-color: red;
}

.sorted {
  background-color: mediumspringgreen;
}